.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position:relative; 
   /* had to set element's position to relative for keyframe to work */
 


}

.hamburger:hover > div:nth-child(2){
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position:relative;
}

nav {
  opacity: 0;
  transition-duration: 1s;
 
}

.hamburger:hover ~ nav {
  opacity: 1;
}

@keyframes top {
  from {top: 0px;rotate:0}
  to {top: 33px;rotate:45deg}
}

@keyframes middle {
  /* this makes the middle div disappear */
  from {opacity:1} 
  to {opacity:0 }
}

@keyframes bottom {
  from {bottom: 0px;rotate:0}
  to {bottom: 33%; rotate:-45deg}
}
